<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Fetch page</title>
</head>
  <body>
    <form action="/fetch/" method="POST">
    Slug: <input type="text" name="slug" value="{{ newssource.slug }}" size="30"/>
    Name: <input type="text" name="name" value="{{ newssource.name }}" size="10"/>
    Active: <input type="checkbox" name="active" {% if newssource.active %} checked {% endif %}/>
    Order: <input type="text" name="order" value="{{ newssource.order }}" size="5"/>
    <br/>URL: <input type="text" name="fetchurl" value="{{ newssource.fetchurl }}" size="80"/>
    Encoding: <input type="text" name="encoding" value="{{ newssource.encoding }}" size="10"/>
    <br/>Header:<textarea name="httpheader" rows="1" cols="100">{{ httpheader }}</textarea>
    <br/>Tags: <input type="text" name="tags" size="80" value="{{ newssource.tags }}"/>
    <br/><input type="text" name="urlUsed" value="{{ urlUsed }}" size="80" readonly="True"/>
    <input type="text" name="encodingUsed" value="{{ encodingUsed }}" size="10" readonly="True"/>
    <br/>Keyword: <input type="text" name="keyword" value="{{ keyword }}" size="80"/>
    {% if oldContent %}<br/><textarea name="content" rows="2" cols="100">{{ oldContent }}</textarea>{% endif %}
    <br/><textarea name="content" rows="2" cols="100">{{ content }}</textarea>
    <input type="button" value="Clean" onclick="(this.parent || this.parentNode).content.value='';"/>

    <br/>Selector: <input type="text" name="selector" value="{{ newssource.selector }}" size="40"/>
    Return all: <input type="checkbox" name="enoughall" {% if newssource.conditions.enough.all %} checked {% endif %}/>
    <br/>Exclude length: <input type="text" name="excludelength" value="{{ newssource.conditions.exclude.length }}" size="5"/>
    Exclude selector: <input type="text" name="excludeselector" value="{{ newssource.conditions.exclude.selector }}" size="30"/>
    <br/>Has children: <input type="text" name="includeselector" value="{{ newssource.conditions.include.selector }}" size="30"/>
    <br/>Url: <input type="text" name="urlselector" value="{{ newssource.conditions.criterion.url }}" size="30"/>
    Title: <input type="text" name="titleselector" value="{{ newssource.conditions.criterion.title }}" size="30"/>
    <br/>Content: <input type="text" name="contentselector" value="{{ newssource.conditions.criterion.content }}" size="30"/>
    Image: <input type="text" name="imageselector" value="{{ newssource.conditions.criterion.image }}" size="30"/>
    <br/>Link: <input type="text" name="linkselector" value="{{ newssource.conditions.criterion.link }}" size="30"/>
    Image Link: <input type="text" name="imagelinkselector" value="{{ newssource.conditions.criterion.imagelink }}" size="30"/>
    <br/>Formatter: <textarea name="formatter" rows="1" cols="100">{{ formatter }}</textarea>
    <br/>Description: <textarea name="description" rows="1" cols="100">{{ newssource.description }}</textarea>
    <br/><input name="action" type="submit" value="Submit" />
    <a target="_self" href="/fetch/">Reset</a>
    <br/><br/><textarea name="jsonstr" rows="2" cols="130">{{ jsonstr }}</textarea>
    <br/><input type="submit" name="action" value="JSON" />
    </form>
    {% for link in links %}
        <br/><br/>{{ link.path|safe }}
        <br/>{{ link.title }}: {{ link.url }}
    {% endfor %}
    Items count: {{ items|length }}
    {% for item in items %}
        <br/><a href="{{ item.url }}" target="_blank">{% if item.title%}{{ item.title }}{% else %}None{% endif %}</a>
        {% if item.imgurl %}<img src="{{ item.imgurl }}" width="{{ item.imgwidth }}" height="{{ item.imgheight }}"/>{% endif %}
        {% if item.content %}<br/><p>{{ item.content }}</p>{% endif %}<br/>
    {% endfor %}
  </body>
</html>

