<html>
  <body>
    <form action="/detector" method="POST">
    URL: <input type="text" name="url" value="{{ url }}" size="100"/>
    <br/>Encoding: <input type="text" name="encoding" value="{{ encoding }}"/>
    Prevent cache: <input type="checkbox" name="preventcache" {% if preventcache %} checked {% endif %}/>
    <input type="submit" value="Submit" />
    </form>
    Content: <textarea name="content" rows="20" cols="100">{{ content }}</textarea>
    <br/>URL: {{ fetchurl }}
    <br/>Encoding: {{ encodingused }}
  </body>
</html>

